<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A new Listings</title>
    <link rel="stylesheet" href="/style.css">
</head> -->

  <% layout("/layout/boilerplate")-%>
  <body>  
    <h1 style="text-align: center; margin-top: 7px;"><b>Create a New Listing &#x1F3E0;</b></h1><br><br>
    <div class="row">
        <div class="col-8 offset-2">
    <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="Enter Title" name="listing[title]" class="form-control" id="title" required>
            <div class="valid-feedback">Look's Good</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" id="description" placeholder="Enter the description" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
            <label for="imgupload" class="form-label">Upload Image</label>
            <input type="file"  name="listing[imgupload]" id="imgupload" class="form-control" required>
        </div>
        <div class="row cols">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" placeholder="enter the price" name="listing[price]" class="form-control" id="price" required>
            <div class="valid-feedback">Look's Good</div>
        </div>

        <div class="mb-3 col-md-8">
            <label for="Location" class="form-label">Location</label>
            <input type="text" placeholder="enter the location" name="listing[location]" class="form-control" id="Location" required>
            <div class="valid-feedback">Look's Good &#128128;</div>
        </div>
    </div>
        <div class="mb-3" >
            <label for="Country" class="form-label"><b>Country</b></label>
            <input type="text" placeholder="enter the country" name="listing[country]" id="Country" class="form-control" required>
        </div><br><br>
        <button class="btn btn-dark" >Submit</button>

    </form>
</div>
</div>
    
